SR03/Projet3/Partie1/RAPPORT/autres/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="annuaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="annuaire_id"/>
        <xs:element name="categorie" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="annonce" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="annonce_id"/>
                    <xs:element type="xs:string" name="nom"/>
                    <xs:element name="adresse">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="adresse_id"/>
                          <xs:element type="xs:string" name="rue"/>
                          <xs:element type="xs:string" name="ville"/>
                          <xs:element type="xs:byte" name="codepostal"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="telephone"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="categorie_id" use="optional"/>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>